{% extends "base.html.twig" %}

{% block content %}
<div class="jumbotron mx-auto col-lg-7 text-center my-4">
  <iframe width="800" height="500" src="https://www.youtube.com/embed/RJxNXc-kfmQ">
  </iframe>
</div>
{% endblock %}
