{% extends "base.html.twig" %}

{% block content %}
<div class="jumbotron mx-auto col-lg-8 ">
<a href="/img/back.jpg" download>
  <img src="/img/back.jpg" class="img-fluid">
</a>

</div>
{% endblock %}
