{% extends "base.html.twig" %}

{% block content %}
<div class="jumbotron mx-auto col-lg-8 ">
  <img src="http://www.newsmaster.be/wp-content/uploads/2014/11/img-7.jpg" class="img-fluid">
<img src="../public/img/back.jpg" class="img-fluid">

</div>
{% endblock %}
