{% extends "base.html.twig" %}
{% block content %}
<div class="" style="background-image: url(/img/bg.jpg);">
	<div class="jumbotron">
		<h1 class="display-4">Hello, fellow !</h1>
		<hr class="my-4">
		<p>It is my personnal website.</p>
		<p>You can find here, my curriculum vitae, some of my projects and more.</p>
	</div>
</div>
{% endblock %}
