{% extends "base.html.twig" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Hi fellow, my name is Yvain Praga, I am currently a student in computer Science. I am living near Metz in France. 
My mother tongue is French but I can also speak English. My current TOEIC score is 815.

During my studies, I have learned multiple programming languages (Java, C, Python) and web development languages (PHP, Javascript, HTML/CSS). 
I have also worked in teams of three people or more and sometimes in pairs.
This helped me to discover the importance of teamwork.
However, I regard myself as an autonomous person. I can work well with teammates but I do well on my owm too.
I am currently studying at Nancy-Charlemagne University Institute of Technology.
At the end of this year of studies, I will obtain a Bachelor degree in web development.
I am doing an internship in parallel in a Luxembourger entreprise.
< uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

{% endblock %}
