{% extends "base.html.twig" %}

{% block content %}
<div class="jumbotron mx-auto col-lg-8 my-4">
	<h1 class="display-4 text-center">My professionnal profile</h1>
	<p class="lead text-center">This is a short description about me for a professionnal purpose</p>
	<hr class="my-4">
	<p>Hi fellow, my name is Yvain Praga, I am currently a student in computer Science. 
	<br>I am living near Metz in France. My mother tongue is French but I can also speak English. My current TOEIC score is 815.<br>

	<br>During my studies, I have learned multiple programming languages (Java, C, Python) and web development languages (PHP, Javascript, HTML/CSS). 
	I have also worked in teams of three people or more and sometimes in pairs.
	This helped me to discover the importance of teamwork.
	However, I regard myself as an autonomous person. I can work well with teammates but I do well on my owm too.<br>
	<br>I am currently studying at Nancy-Charlemagne University Institute of Technology.
	<br>At the end of this year of studies, I will obtain a Bachelor degree in web development.
	I am doing an internship in parallel in a Luxembourger entreprise.
</div>

{% endblock %}
