{% extends "base.html.twig" %}
{% block content %}
<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Flight assistant</h5>
    <p class="card-text">Development of a flight assistant for paragliders. Developped in Python on a RaspBerry Pi 3</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Application of reservation</h5>
    <p class="card-text">Development of an application of booking. This project is a Client-server application in C. The idea was to work on the socket technology in C.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Drawing application</h5>
    <p class="card-text">I had to develop an application to draw geometrics shapes in Java. The drawings were made with the mouse.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}
