{% extends "base.html.twig" %}
{% block content %}
<div class="card mx-auto my-4 w-75">
    <img src= "https://cdn.flybgd.com/files/photo/carre/1554992016-6532.png?v=1556016085" style="max-width: 25%">
    <div class="card-body">
        <h5 class="card-title">Flight assistant</h5>
        <hr class="my-4">
        <p class="card-text">Development of a flight assistant for paragliders. Developped in Python on a RaspBerry Pi 3</p>
    </div>
</div>

<div class="card mx-auto my-4 w-75">
    <img src="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Application of reservation</h5>
        <hr class="my-4">
        <p class="card-text">Development of an application of booking. This project is a Client-server application in C. The idea was to work on the socket technology in C.</p>
    </div>
</div>

<div class="card mx-auto my-4 w-75">
    <img src="https://papergames.io/images/tic-tac-toe/thumbnail.png" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">RMI Games</h5>
        <hr class="my-4">
        <p class="card-text">I had to develop two games in JAVA. The first was a simple "Guess the word". The second was a multiplayer morpion. It's a local multiplayer game where I used the RMI technology.>
    </div>
</div>
{% endblock %}
